/* Card entrance animation */
@keyframes slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes blur-up{
    0% {
        transform: translateY(20px);
        filter: blur(1em);
    }

    100% {
        transform: translateY(0);
        filter: blur();
        opacity: 1;
    }
}

@keyframes blur-down {
    0% {
        transform: translateY(-20px);
        filter: blur(1em);
    }

    100% {
        transform: translateY(0);
        filter: blur();
        opacity: 1;
    }
}

.entrance-slide-in {
    animation: slide-in 1s ease-out forwards;
}

.entrance-blur-up {
    opacity: 0;
    animation: blur-up 1s ease-out forwards;
    animation-delay: 0.5s;
}

.entrance-blur-down {
    opacity: 0;
    animation: blur-down 1s ease-out forwards;
    animation-delay: 0.5s;
}