.logo {
  width: 100vw;
}

.header {
  background-color: white;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 10; /* Ensures the header is above other content */
  display: flex;
  justify-content: center;
  grid-area: header;
  transition: height 1s ease;
}

.sticky {
  position: sticky;
  height: 15vh;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
/* Header scroll animations */
h1.font-size-3em {
  font-size: 3em;
  transition: font-size 1s ease;
}

h1.font-size-5em {
  font-size: 5em;
  transition: font-size 1s ease;
}

/* Container for the navigation button */
.containerNav {
  position: relative;
  transition: background-color 0.3s ease;
  border-color: transparent;
  margin: 5px;
  padding: 10px 20px; /* Adjust padding for better spacing */
}

.containerNav:hover {
  background-color: #ffffff;
  border-color: black;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

/* Inner block container */
.relative {
  position: relative;
}

.rounded {
  border-radius: 100px;
}

/* Background for the text inner div */
.mix-blend-difference {
  mix-blend-mode: difference; /* Ensures that text is opposite color of background */
}

/* Text styles */
.text-size-small {
  font-size: 0.8rem; /* Example size for small text */
}

.text-white {
  color: white;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

/* See more section */
.see-more, .material-icons {
  color: gray;
  position: absolute;
}

.see-more {
  bottom: 35px;
}

.material-icons {
  bottom: 10px;
}