@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-font-size: 5;
    font-family: "Inter", sans-serif;
}

h1 {
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: calc(var(--header-font-size) * 1em);
    text-align: center;
}

p {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
}