.productImage {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorWayViewer
{
    grid-area: colorWay;
    display: flex;
    justify-content: center;
}

.colorTile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 1em;
    border: gray 1px solid;
}

.productPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr calc(50px + 2em) 1fr;
    grid-template-areas: 
        "header header"
        "image info"
        "colorWay info"
        "yarnDetails yarnDetails";
}

.productInformation{
    grid-area: info;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse; /* Ensures borders are collapsed aka no double borders */
}

table {
    width: 50%;
    margin: 1em 0;
}

tr {
    height: 2em;
}

td.value {
    color: #757575;
}

td.productProperty {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .productPage {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header"
            "image"
            "colorWay"
            "info"
            "yarnDetails";
    }

    .productImage, .colorWayViewer, .productDescription, .yarnDetails {
        width: 100%;
    }
    
}